
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.desplay-flex{
    display: flex;
    }
.navber{
    justify-content: space-between;
    align-items: center;
}
.bg-light{
   background-color: rgba(255, 144, 14, 0.1);}


 .nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.text-primary{
    color: #ff900e;
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
   
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}


main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.btn-primary{
    background-color: #ff900f;
    color: white;
    padding: 20px 25pX;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
}
.banner-image{
    width: 100%;
}
.teams{
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    min-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#Quick list{
    font-weight: 500;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-description{
width: 540px;
margin-bottom: 100px;


}
.fact-card{
        border: 1px solid #ff900e ;
        width: 240px;
        height: 240px;
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    width: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    width: 600;
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .navber, .nav-link, .teams{
        flex-direction: column;
    }
.team-img-container{
    grid-template-columns: repeat(1, 1fr);
}
.our-features{
    
}
}
@media screen and (min-width:576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
        
    }
    .our-features{
        margin-left: 50px auto;
    }
}
